@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main {
    padding: 20px;
}

header {
    width: 100%;
    height: 80px;
    background: #aab7b8;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
    justify-content: space-between;
}

header .usuario {
    color: black;
    display: flex;
    align-items: center;
    text-justify: left;
    padding: 0px 20px;
    width: 300px;
}

.botones {
    height: 25px;
    width: 20px;
    cursor: pointer;
    color: white;
}

.botones1 {
    height: 25px;
    width: 20px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

header .usuario img {
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu img {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side {
    width: 80px;
    height: 100%;
    background: #154360;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #154360;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


.menu__side::-webkit-scrollbar {
    display: none;
}


.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page img {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option img {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

.options__menu .option_1 {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option_1 img {
    width: 20px;
    margin-right: 20px;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}



.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}


@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}



/*esto es main*/




.bancos {
    width: 1200px;
    height: 400px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;
}

.parte_alta {
    width: 82%;
    height: 80px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin-right: 20px;
}

.agregar_bancos {
    cursor: pointer;
    padding: 10px;
}

.Buscador {
    height: 20px;
    display: flex;
    position: fixed;
    margin-top: 60px;
    justify-content: left;
    margin-left: 950px;
}

/*tabla*/
.tabla {
    margin-top: 120px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: blue;
    color: white;
}

.editar {
    background-color: green;
    border: none;
    width: 50px;
    height: 25px;
}

.borrar {
    background-color: red;
    border: none;
    width: 50px;
    height: 25px;
}


/*registro*/

.registro {
    width: 700px;
    height: 500px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
}

.tablereistre,
.tablereistre td,
.tablereistre th {
    border: none;
}

.si {
    margin-left: 500px;
    margin-top: 80px;
    background-color: green;
    border: none;
    height: 25px;
    width: 60px;
    cursor: pointer;
}

.no {
    background-color: red;
    border: none;
    height: 25px;
    width: 60px;
    cursor: pointer;
}

.tablereistre {
    margin-top: 20px;
}


.container1 {
    display: flex;
    text-justify: left;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 15%;
}